<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components-Buttons</title>
    <link rel="stylesheet" href="Components-Buttons.CSS" />
  </head>
  <body>
    <button class="button__primary--default--small">click here</button>
    <button class="button__primary--default--small" disabled>click here</button>
    <button class="button__primary--default--medium">click here</button>
    <button class="button__primary--default--medium" disabled>
      click here
    </button>
    <button class="button__primary--default--large">click here</button>
    <button class="button__primary--default--large" disabled>click here</button>
    <button class="button__primary--ghost--small">click here</button>
    <button class="button__primary--ghost--small" disabled>click here</button>
    <button class="button__primary--ghost--medium">click here</button>
    <button class="button__primary--ghost--medium" disabled>click here</button>
    <button class="button__primary--ghost--large">click here</button>
    <button class="button__primary--ghost--large" disabled>click here</button>
    <button class="button__secondary--default--small">click here</button>
    <button class="button__secondary--default--small" disabled>
      click here
    </button>
    <button class="button__secondary--default--medium">click here</button>
    <button class="button__secondary--default--medium" disabled>
      click here
    </button>
    <button class="button__secondary--default--large">click here</button>
    <button class="button__secondary--default--large" disabled>
      click here
    </button>
    <button class="button__secondary--ghost--small">click here</button>
    <button class="button__secondary--ghost--small" disabled>click here</button>
    <button class="button__secondary--ghost--medium">click here</button>
    <button class="button__secondary--ghost--medium" disabled>
      click here
    </button>
    <button class="button__secondary--ghost--large">click here</button>
    <button class="button__secondary--ghost--large" disabled>click here</button>
    <button class="button__third--default--small">click here</button>
    <button class="button__third--default--small" disabled>click here</button>
    <button class="button__third--default--medium">click here</button>
    <button class="button__third--default--medium" disabled>click here</button>
    <button class="button__third--default--large">click here</button>
    <button class="button__third--default--large" disabled>click here</button>
    <button class="button__third--ghost--small">click here</button>
    <button class="button__third--ghost--small" disabled>click here</button>
    <button class="button__third--ghost--medium">click here</button>
    <button class="button__third--ghost--medium" disabled>click here</button>
    <button class="button__third--ghost--large">click here</button>
    <button class="button__third--ghost--large" disabled>click here</button>
    <button class="button__error--default--small">click here</button>
    <button class="button__error--default--small" disabled>click here</button>
    <button class="button__error--default--medium">click here</button>
    <button class="button__error--default--medium" disabled>click here</button>
    <button class="button__error--default--large">click here</button>
    <button class="button__error--default--large" disabled>click here</button>
    <button class="button__error--ghost--small">click here</button>
    <button class="button__error--ghost--small" disabled>click here</button>
    <button class="button__error--ghost--medium">click here</button>
    <button class="button__error--ghost--medium" disabled>click here</button>
    <button class="button__error--ghost--large">click here</button>
    <button class="button__error--ghost--large" disabled>click here</button>
    <button class="button__warning--default--small">click here</button>
    <button class="button__warning--default--small" disabled>click here</button>
    <button class="button__warning--default--medium">click here</button>
    <button class="button__warning--default--medium" disabled>
      click here
    </button>
    <button class="button__warning--default--large">click here</button>
    <button class="button__warning--default--large" disabled>click here</button>
    <button class="button__warning--ghost--small">click here</button>
    <button class="button__warning--ghost--small" disabled>click here</button>
    <button class="button__warning--ghost--medium">click here</button>
    <button class="button__warning--ghost--medium" disabled>click here</button>
    <button class="button__warning--ghost--large">click here</button>
    <button class="button__warning--ghost--large" disabled>click here</button>
    <button class="button__success--default--small">click here</button>
    <button class="button__success--default--small" disabled>click here</button>
    <button class="button__success--default--medium">click here</button>
    <button class="button__success--default--medium" disabled>
      click here
    </button>
    <button class="button__success--default--large">click here</button>
    <button class="button__success--default--large" disabled>click here</button>
    <button class="button__success--ghost--small">click here</button>
    <button class="button__success--ghost--small" disabled>click here</button>
    <button class="button__success--ghost--medium">click here</button>
    <button class="button__success--ghost--medium" disabled>click here</button>
    <button class="button__success--ghost--large">click here</button>
    <button class="button__success--ghost--large" disabled>click here</button>
  </body>
</html>
