<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components-Inputs</title>
    <link rel="stylesheet" href="Components-Inputs.CSS" />
  </head>
  <body>
    <div class="input--small">
      <input
        type="text"
        placeholder="Insert Text Here..."
        required
        id="input--small"
        class="input--small_input"
      />
      <label for="input--small" class="input--small_label"
        >Insert Text Here...</label
      >
    </div>
    <div class="input--medium">
      <input
        type="text"
        placeholder="Insert Text Here..."
        required
        id="input--medium"
        class="input--medium_input"
      />
      <label for="input--medium" class="input--medium_label"
        >Insert Text Here...</label
      >
    </div>
    <div class="input--large">
      <input
        type="text"
        placeholder="Insert Text Here..."
        required
        id="input--large"
        class="input--large_input"
      />
      <label for="input--large" class="input--large_label"
        >Insert Text Here...</label
      >
    </div>
  </body>
</html>
