@import url(Variables-Colors.CSS);
.popup-registration {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--Neutral-color-900-90);
  backdrop-filter: blur(0.4rem);
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in;
}
.popup-registration:target {
  opacity: 1;
  visibility: visible;
}
