:root {
  --Neutral-color-50: #f8fafc;
  --Neutral-color-50-90: rgba(247, 250, 252, 90%);
  --Neutral-color-100: #f1f5f9;
  --Neutral-color-200: #e2e8f0;
  --Neutral-color-300: #cbd5e1;
  --Neutral-color-300-90: rgba(204, 213, 224, 90%);
  --Neutral-color-400: #94a3b8;
  --Neutral-color-400-90: rgba(148, 163, 184, 90%);
  --Neutral-color-500: #10161e;
  --Neutral-color-500-90: rgba(16, 22, 30, 90%);
  --Neutral-color-600: #475569;
  --Neutral-color-700: #334155;
  --Neutral-color-700-90: rgba(51, 65, 85, 90%);
  --Neutral-color-800: #1e293b;
  --Neutral-color-900: #0f172a;
  --Neutral-color-900-90: rgba(15, 23, 42, 90%);
  --Primary-color-50: #f2f6fa;
  --Primary-color-100: #85b6f2;
  --Primary-color-200: #3b8aea;
  --Primary-color-300: #1462c0;
  --Primary-color-400: #0d3c76;
  --Primary-color-500: #0a305e;
  --Primary-color-500-70: rgba(10, 48, 94, 90%);
  --Primary-color-600: #092d58;
  --Primary-color-700: #072345;
  --Primary-color-800: #051a32;
  --Primary-color-900: #030d19;
  --Primary-color-900-90: rgba(3, 13, 25, 90%);
  --Secondary-color-50: #ecfeff;
  --Secondary-color-100: #b3f9fe;
  --Secondary-color-200: #7af5fe;
  --Secondary-color-300: #41f0fd;
  --Secondary-color-400: #08ecfd;
  --Secondary-color-500: #02cedd;
  --Secondary-color-600: #02a5b1;
  --Secondary-color-700: #017c85;
  --Secondary-color-800: #015258;
  --Secondary-color-900: #00292c;
  --Third-color-50: #f1fbf0;
  --Third-color-100: #dbf5d9;
  --Third-color-200: #c6efc2;
  --Third-color-300: #b1e9ab;
  --Third-color-400: #9be395;
  --Third-color-500: rgba(148, 225, 141, 1);
  --Third-color-600: #5ed253;
  --Third-color-700: #38ae2e;
  --Third-color-800: #26741f;
  --Third-color-900: #133a0f;
  --Success-color-50: #ecfdf5;
  --Success-color-100: #d1fae5;
  --Success-color-200: #91e697;
  --Success-color-300: #51ca58;
  --Success-color-400: #31b237;
  --Success-color-500: #18981d;
  --Success-color-600: #0f8613;
  --Success-color-700: #0e7817;
  --Success-color-800: #07600e;
  --Success-color-900: #014807;
  --Warning-color-50: #fffbea;
  --Warning-color-100: #fff3c4;
  --Warning-color-200: #fce588;
  --Warning-color-300: #fadb5f;
  --Warning-color-400: #f7c948;
  --Warning-color-500: #f0b429;
  --Warning-color-600: #de911d;
  --Warning-color-700: #cb6e17;
  --Warning-color-800: #b44d12;
  --Warning-color-900: #8d2b0b;
  --Error-color-50: #ffe3e3;
  --Error-color-100: #ffbdbd;
  --Error-color-200: #ff9b9b;
  --Error-color-300: #f86a6a;
  --Error-color-400: #ef4e4e;
  --Error-color-500: #e12d39;
  --Error-color-600: #cf1124;
  --Error-color-700: #ab091e;
  --Error-color-800: #8a041a;
  --Error-color-900: #610316;
  --White-color: #ffffff;
  --Black-color: #000000;
}
